<body>


	<div class="profile">
		<table>
			<tr>
				<td>
					<div class="img">
						<%= image_tag 'dog_img_shiba.jpg', :class => "img_dog"%>
					</div>
				</td>
				<td>
					<h1>Baba Shunya</h1>
				</td>
			</tr>
		</table>
	</div>
</body>