<body>


	<div class="profile">
		<table>
			<tr>
				<td>
					<div class="img">
						<%= image_tag 'dog_img_shiba.jpg', :class => "img_dog"%>
					</div>
				</td>
				<td>
					<h1><span>Baba Shunya</span></h1>
				</td>
			</tr>
		</table>
	</div>

	<div class="new">
		<%=link_to '新規投稿', "/posts/new" %>
	</div>
	<div class="toIndex">
		<%=link_to '一覧', "/index" %>
	</div>
</body>